body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('../fost.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
  
  .centered-text {
    font-size: 32px;
    font-family: Arial, sans-serif;
    color:red ;
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
  }
  